:root {
    --primary-background-color: #333333;
    --backmain-color: #555555;
    --backsidebar-color: #202020;
    --white-color: #ffffff;
    --orange-color: #FB6D3A;
    --orange-50-color: #ffcab7;
    --gray-color: #bbbbbb;
    --green-color: #5f8868;
    --p-color: #A8A8A8;
    --primary-footer-color: rgba(255, 255, 255, 0.1);
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-black-color: #000000;
    --primary-gray-color: #2F303A;
    --primary-eee-color: #EEEEEE;
    --primary-seventy-color: #757575;
    --primary-hr-color: #ECECEC;
    --primary-icon-color: #AFB1B8;
    --primary-modal-color: rgba(0, 0, 0, 0.2);
    --primary-close-color: rgba(0, 0, 0, 0.1);
    --primary-three-color: rgba(47, 48, 58, 0.8);
    --primary-bordermod-color: rgba(33, 33, 33, 0.2);
    --primary-subscribe-color: rgba(255, 255, 255, 0.3);
    --primary-subshadow-color: rgba(0, 0, 0, 0.15);
    --primary-blue-color: #92C5FF;
    --primary-red-color: #FF9191;
    --primary-29-color: #2F3640;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-background-color);
}


ul {
    list-style: none;
}










/* main */


.body__main {
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid var(--gray-color);
    background-color: var(--primary-29-color);
}

.planner__header {
    border-bottom: 1px solid var(--gray-color);
    display: flex;
    justify-content: space-between;
}

.check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 15px;
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z" fill="%23bbbbbb"/%3E%3C/svg%3E');
    fill: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked {
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="16" height="15" rx="2" fill="%232196F3"/%3E%3Cpath d="M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z" fill="white" stroke="white" stroke-width="0.2"/%3E%3C/svg%3E');
    fill: var(--accent-color);
}


h1 {
    margin: 0;
}

h3 {
    font-size: 13px;
    margin: 0;
}

ul {
    padding: 0;
}

input {
    color: var(--white-color);
}


.name {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    color: var(--primary-eee-color);
}

.header__list1 {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 55px;
}

.header__list1>li {
    display: flex;
}

.header__list1>li>h3 {
    display: flex;
    align-items: center;
    color: var(--primary-eee-color);
}

.header__list1>li:first-child {
    margin-right: 20px;
}

.header__list1>li>input {
    width: 100px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-top: 5px;
    background-color: var(--primary-29-color);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--p-color);
}


.header__list2 {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 8px;
}

.header__list2>li {
    display: flex;
    justify-content: flex-end;
    color: var(--white-color);
}


.list-and-table {
    display: flex;
}

.planner__list {
    border-right: 1px solid var(--gray-color);
    width: 320px;
    padding-left: 20px;
}

.planner__list>h3 {
    color: var(--primary-eee-color);
}

.todo {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 10px;
    color: var(--primary-eee-color);
}

.input__list {
    height: 15px;
    width: 80%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 25px;
    background-color: var(--primary-29-color);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--p-color);
}

.check-absolute {
    position: absolute;
    margin: 0;
}

.list-in-list {
    margin-bottom: 50px;
}



.week {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.day {
    display: flex;
    border: 1px solid var(--p-color);
}

.day:last-child {
    justify-content: end;
}

.day>h3 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
}

.day>input {
    margin-top: 10px;
    margin-right: 10px;
}

.w__day {
    display: flex;
    border: 1px solid var(--p-color);
    height: 50%;
}

.w__day>h3 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
}

.w__day>input {
    margin-top: 10px;
    margin-right: 10px;
}











/* new */



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --font-semi: 600;
}

:root {
    --first-color: #1ff7e5;
    --second-color: #2F3640;
}

:root {
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {

    .timetable {
        width: 100%;
        border-collapse: collapse;
        margin-top: var(--mb-3);
    }

    .timetable caption {
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi);
        color: var(--second-color);
        margin-bottom: var(--mb-4);
        text-align: center;
    }

    .timetable th,
    .timetable td {
        padding: 1rem;
        text-align: center;
    }

    .timetable th {
        background-color: var(--first-color);
        color: white;
    }

    .timetable td {
        background-color: #f5f5f5;
    }

    .timetable td:first-child {
        font-weight: var(--font-semi);
    }

    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    background-color: rgba(246, 246, 246, 0.47);
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: #fff;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--second-color);
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}


.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}


.show {
    right: 0;
}

.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home__title-color {
    color: var(--first-color);
}

.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}

.home__social-icon:hover {
    color: var(--first-color);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

/*BUTTONS*/


/* ===== ABOUT =====*/
.about__container {
    row-gap: 2rem;
    text-align: center;
}

.about__subtitle {
    margin-bottom: var(--mb-2);
}

.about__img {
    justify-self: center;
}

.about__img img {
    width: 200px;
    border-radius: .5rem;
}

/* ===== SKILLS =====*/
.skills__container {
    row-gap: 2rem;
    text-align: center;
}

.skills__subtitle {
    margin-bottom: var(--mb-2);
}

.skills__text {
    margin-bottom: var(--mb-4);
}

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

.skills__html {
    width: 95%;
}

.skills__css {
    width: 85%;
}

.skills__js {
    width: 85%;
}

.skills__vue {
    width: 90%;
}

.skills__py {
    width: 70%;
}

.skills__psd {
    width: 85%;
}

.skills__ind {
    width: 90%;
}

.skills__dw {
    width: 75%;
}

.skills__ai {
    width: 65%;
}

.skills__py {
    width: 70%;
}

.skills__img {
    border-radius: .5rem;
}

/* ===== WORK =====*/
.projects__container {
    row-gap: 2rem;
}

.projects__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: .5rem;
    overflow: hidden;
}

.projects__img img {
    transition: 1s;
    cursor: pointer;
}

.projects__img img:hover {
    transform: scale(1.1);
}

/* ===== CONTACT =====*/
.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}

.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    fill: #fff;
    margin: 0 var(--mb-2);
    width: 23px;
    height: 23px;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;

    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--second-color);
    }

    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    .home__img {
        width: 457px;
        bottom: 15%;
    }

    .about__container,
    .skills__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }

    .about__img img {
        width: 300px;
    }

    .projects__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact__form {
        width: 360px;
    }

    .contact__container {
        justify-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img {
        right: 10%;
    }
}