@import "../utils/_variables";

.widget {
    background-color: $gray-color;
    margin: 0;
    display: flex;
    justify-content: center;

    &__text {
        font-size: 20px;
        margin: auto;
        color: $backsidebar-color;
    }

    &__line {
        border-bottom: 1px solid $backsidebar-color;
    }
}