$primary-background-color: #333333;
$backmain-color: #555555;
$backsidebar-color: #202020;
$white-color: #ffffff;
$orange-color: #FB6D3A;
$orange-50-color: #ffcab7;
$gray-color: #bbbbbb;
$green-color: #5f8868;
$p-color: #A8A8A8;
$primary-footer-color: rgba(255, 255, 255, 0.1);
$primary-text-color: #212121;
$accent-color: #2196F3;
$primary-black-color: #000000;
$pimary-gray-color: #2F303A;
$primary-eee-color: #EEEEEE;
$primary-seventy-color: #757575;
$primary-hr-color: #ECECEC;
$primary-icon-color: #AFB1B8;
$primary-modal-color: rgba(0, 0, 0, 0.2);
$primary-close-color: rgba(0, 0, 0, 0.1);
$primary-three-color: rgba(47, 48, 58, 0.8);
$primary-bordermod-color: rgba(33, 33, 33, 0.2);
$primary-subscribe-color: rgba(255, 255, 255, 0.3);
$primary-subshadow-color: rgba(0, 0, 0, 0.15);
$primary-blue-color: #92C5FF;
$pimary-red-color: #FF9191;
$header-height: 3rem;
$font-semi: 600;
$first-color: #1ff7e5;
$second-color: #2F3640;
$body-font: 'Poppins', sans-serif;
$big-font-size: 2rem;
$h2-font-size: 1.25rem;
$normal-font-size: 0.938rem;
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$body-font: 'Poppins', sans-serif;
$big-font-size: 2rem;
$h2-font-size: 1.25rem;
$normal-font-size: 0.938rem;